body {
  background: rgba(0, 102, 255, 0.12);
  font-family: sans-serif;
  padding: 40px;
}

p {
  margin: 0 0 5px;
}

.article {
  background: #FFF;
  border: 1px solid rgba(0, 89, 181, 0.38);
  border-radius: 10px;
  width: 600px;
  margin: 0 0 25px;
  box-shadow: 2px 2px 5px -1px rgba(0, 81, 202, 0.45);
  padding: 10px;
}

.news__author {
  text-decoration: underline;
  color: #007DDC;
}
.news__count {
  margin: 10px 0 0 0;
  display: block;
}

.test-input {
  margin: 0 5px 5px 0;
}

.add {
  margin: 0 5px 5px 0;
  width: 210px;
  border: 1px dashed rgba(0, 89, 181, 0.82);
  padding: 5px;
}
.add__author, .add__text, .add__btn, .add__checkrule {
  display: block;
  margin: 0 0 5px 0;
  padding: 5px;
  width: 94%;
  border: 1px solid rgba(0, 89, 181, 0.82);
}
.add__checkrule {
  border: none;
  font-size: 12px;
}
.add__btn {
  box-sizing: content-box;
  color: #FFF;
  text-transform: uppercase;
  background: #007DDC;
}
.add__btn:disabled {
  background: #CCC;
  color: #999;
}

.news__readmore {
  outline: none;
  padding: 5px 10px;
  background-color: transparent;
  margin: 5px 0;
  margin-right: 10px;
  border: 1px solid lightgrey;
  border-radius: 20px;

}
